.serviceListDiv{
    display: flex;
    flex-direction: column;
}

.infoBarService{
    background-color: var(--HighlightColor);
    color: var(--BackgroundColor);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
}