.navbarMainDiv{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.navbarLinksDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbarLinksDiv>*{
    margin: 2%;
}