.blogListDiv{
    display: flex;
    flex-direction: column;
}

.infoBarBlogs{
    background-color: var(--titlecolor);
    color: var(--color4);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
}