.downloadsTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid var(--HighlightColor);
    text-align: left;
    padding: 8px;
}

td > a {
    color: var(--TitleColor);
}
