.BlogEntryDiv {
    overflow: hidden;
    transition: all 0.25s;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.BlogEntryDiv:hover{
    border-radius: 15px;
    box-shadow: 0px 0px 15px;
}

.hideButton{
    transition: all 0.15s;
    cursor: pointer;
}

.hideButton:hover{
    color: var(--TitleColor);
    text-shadow: 0px 0px 5px;
    filter: blur(0.77px);
}

.hideButtonDiv{
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 768px){
    .BlogEntryDiv {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }
}